name: Obsidian Plugin Release
# credits: https://github.com/scambier/obsidian-omnisearch/blob/master/.github/workflows/release.yml

env:
    VERSION: 1.1.2

on: [workflow_dispatch]

jobs:
    build:
        runs-on: ubuntu-latest
        permissions: write-all

        strategy:
            matrix:
                node-version: [18.x]

        steps:
            - name: Checkout repository
              uses: actions/checkout@v2
              with:
                  submodules: recursive

            - uses: pnpm/action-setup@v2.1.0
              with:
                  version: 7.17.0
                  run_install: true

            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: "18.x"

            - name: Build
              id: build
              run: |
                  pnpm install
                  pnpm run build
                  ls
                  echo "::set-output name=tag_name::$(git tag --sort version:refname | tail -n 1)"
            - name: Create Release
              id: create_release
              uses: actions/create-release@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  VERSION: ${{ env.VERSION }}
              with:
                  tag_name: ${{ env.VERSION  }}
                  release_name: ${{ env.VERSION  }}
                  draft: false
                  prerelease: false

            - name: Upload main.js
              id: upload-main
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ./main.js
                  asset_name: main.js
                  asset_content_type: text/javascript

            - name: Upload manifest.json
              id: upload-manifest
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ./manifest.json
                  asset_name: manifest.json
                  asset_content_type: application/json

            - name: Upload styles.css
              id: upload-css
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ./styles.css
                  asset_name: styles.css
                  asset_content_type: text/css
